.idea/
.idea/scrape-it.iml
.env
__pycache__
*.iml
./credentials

urls.py
src/urls.txt
src/const.py
output.xml

*.json
src/auth/client-secret.json
venv_scrape/
src/screenshots/
src/logs/
logs/

*selectors_me.py
*site_me.py
src/me/site_me.py
